@import 'colors', 'layout', 'browserOverwrites', 'iconOverwrites', 'vuetifyOverwrites', 'text.scss', 'buttons.scss';
body{
  color: $text;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
  color: $text;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  color: $primary !important;
  font-family: 'Bodoni', serif !important;
}

path{
  fill: $text;
}

// NEEDS CLEAN UP
.listCard{
  width: 100%;
  background: $background-secondary !important;
  box-shadow: $elevation1 !important;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.listCard:hover{
  background: $primaryLight !important;
}
.listItem{
  text-transform: capitalize;
  color: $text !important;
  margin-bottom: 0 !important;
}
.formCreateHeading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listRow{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.buttonDelete{
  border-radius: 4px;
  padding: 6px 10px;
  margin-left: 8px;
  border: 1px solid $text;
  box-shadow: $elevation2;
}
.formContainer{
  border-radius: 5px;
  background: $background-secondary;
  box-shadow: $elevation2;
  margin: 16px 0px;
  padding: 8px;
}
.embeddedForm{
  margin: -10px 20px 0px 20px;
 // padding: 10px;
}
.disable{
  pointer-events: none; 
  /* -webkit-user-select: none; */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.7;
}
.completed {
  background: rgba(174, 174, 174, 0.673) !important;
  text-align: left;
}
.dashContents{
  text-align: center;
  .subHeading{
    color: $text !important;
  }
  .ion__svg{
    padding-top: 7px;
  }
}


.exerciseClientCol{
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
}
.exerciseFirstCol{
  padding-left: 16px;
  text-align: left;
}
.exerciseCoachGrid {
  min-width: 325px;
  display: grid;
  grid-template-columns: minmax(50px, 1fr) 55px 55px;
  justify-items: center;
  justify-content: center;
  background: $background-secondary !important;
}
.exerciseClientGrid {
  min-width: 400px;
  display: grid;
  grid-template-columns: minmax(50px, 1fr) 55px 55px 75px;
  justify-items: center;
  justify-content: center;
  background: $background-secondary !important;
  .v-text-field{
    max-width: 40px;
    min-width: 30px;
    margin-left:12px;
    flex: 1;
  }
}


.flexColumn{
  flex-direction: column;
}